.project-icon li{
  display: inline-flex;
  font-size: 3rem;
  padding: 10px;
  position: absolute;
}

i {
  font-size: 1em;
  color: white;
}

@media screen and (max-device-width: 420px) {
  .project-icon li{
    position: static;
    font-size: 2.4em;
  }  
}  