#contact-form * {
  color: white;
}

#contact-form h3 {
  font-family: "Rawson-black", sans-serif;
  font-size: 2.3em;
  text-align: center;
  margin: 0px 0px 0px 10px;
}

#contact-form form {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

#contact-form p {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

#contact-form label {
  position: absolute;
  transition: all 0.33s;
  left: 10px;
  top: 10px;
  /* font-size: .7em;
  top:0px; */
}

#contact-form p input,
#contact-form p textarea {
  width: 100%;
  padding: 10px;
  background: none;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 0px;
  font-size: 1.1em;
  outline: none;
  border-radius: 0px;
}

#contact-form p.active label {
  opacity: 0.5;
  font-size: 0.7em;
  top: -10px;
}

#contact-form p.active input,
#contact-form p.active textarea {
  border-bottom: 1px solid white;
}

#contact-form p textarea {
  /* resize: none; */
  height: 42px;
  min-height: 42px;
  display: inline-block;
}

#contact-form p * {
  display: block;
}

#contact-form .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contact-form .submit {
  border: 1px solid white;
  font-size: 1.2em;
  background: transparent;
  border-radius: 30px;
  width: 40%;
  padding: 20px;
  margin: 20px auto;
}

#contact-form .clear-all {
  font-size: 1.2em;
  border-radius: 30px;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  font-weight: lighter;
  position: relative;
  cursor: pointer;
}

#contact-form .clear-all::before {
  content: " ";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  left: auto;
  right: auto;
  transform: scaleX(0);
}

#contact-form .clear-all:hover::before {
  transform: scaleX(1);
  transition: all 0.33s;
}

#contact-form .submit.disabled {
  opacity: 0.4;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-style: italic;
}

#contact-form .confirmationMessage {
  padding: 10px 20px;
  max-width: 600px;
  margin: 0 auto;
}

#contact-form .confirmationMessage p {
  margin: 0px;
}

#contact-form .confirmationMessage.OK {
  background-color: rgb(1, 186, 111);
  color: black !important;
}

#contact-form .confirmationMessage.ERROR {
  background-color: rgb(233 46 46);
}

#contact-form .loading {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-device-width: 430px) {
  #contact-form form {
    width: 90vw;
  }

  #contact-form .submit {
    width: 100%;
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
