header#main_header {
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-family: "Rawson-black", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: space-around;
  /* justify-content: space-around; */

  background: #177492;
  background: -moz-linear-gradient(-45deg, #177492 0%, #512386 100%);
  background: -webkit-linear-gradient(-45deg, #177492 0%, #512386 100%);
  background: linear-gradient(135deg, #177492 0%, #512386 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177492', endColorstr='#512386',GradientType=1 );
}

#main_header .carlosjunod-logo-linar {
  width: 100%;
  margin-top: 6%;
  text-align: center;
}

@media screen and (max-device-width: 430px) {
  #main_header .carlosjunod-logo-linar {
    margin-top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main_header .carlosjunod-logo-linar svg {
    width: 60%;
    height: 80%;
  }
}
