#scrollAnimation{
  width: 28px;
  height: 55px;
  border: 2px solid white;
  border-radius: 20px;
  align-self: center;
  top: -20px;
  position: relative;
  margin: 0px auto;
}

.wheel{
  width:0px;
  border: 2px solid white;
  height:8px;
  border-radius:2px;
  position: relative;
  margin: auto;
  animation-name: scroll;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}


@keyframes scroll {
  0%    { top: 8px;}
  30%   { opacity: 1}
  100%  { top: 18px; opacity: 0}
}