#branding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about-contact {
  width: 100vw;
  display: flex;
}

@media screen and (max-device-width: 430px) {
  #about-contact {
    flex-direction: column;
  }
}
